.filtersContainer {
  background-color: var(--primary-color);
  box-shadow: 0 2px 1px 2px rgba(204, 204, 204, 0.438);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  height: max-content;

  @media screen and (max-width: 768px) {
    position: absolute;
    z-index: 999;
    width: 88%;
    margin-inline: auto;
    left: 0;
    right: 0;
    top: 0px;
    border: none;
    box-shadow: none;
  }
}

.filterContainer {
  @apply p-3 bg-white my-4 overflow-y-auto;
  max-height: 35vh;
  border-top: 1px solid #ededed;
  border-radius: 1.5rem;
  scrollbar-width: thin;

  &:first-of-type {
    border: none;
  }

  &::-webkit-scrollbar-track {

    border-radius: 10px;
    // height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c4c4c4;
  }


}

.categoriesContainer {
  @apply flex flex-col justify-center items-start w-full;

  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
  }

  .category {
    @apply p-2 w-full text-justify;
    padding-inline-start: 10px;
    margin-block: -3px;

    &.active {
      background-color: #ededed;
    }

    &:hover {
      background-color: #ededed;
    }
  }
}

.closeBtn {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 1%;
  right: 3%;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  color: var(--primary-color);
  padding: 15px 12px 12px 12px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  font-weight: 500;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    display: flex;

  }
}